mat-toolbar {
	background-color: #fff;
	color: #282828;
	// box-shadow: 0 8px 24px rgba(0,0,0,.13);
}

a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }