.op-navigation {
	background-color: #fff;
	color: #282828;

	h1 {
		cursor: pointer;
	}

	&__options {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		span {
			margin-right: 1em;
			cursor: pointer;
		}
	}
}
