<mat-card class="example-card">
	<mat-card-title>Explanatory Text</mat-card-title>
	<mat-card-content>
		<form class="example-form">
			<mat-form-field class="example-full-width">
			  <input matInput placeholder="First Name">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Last Name">
			  </mat-form-field>
			  <mat-form-field class="example-full-width">
				<input matInput placeholder="Email">
			  </mat-form-field>
		  </form>		  
	</mat-card-content>
</mat-card>

<mat-card class="example-card">
	<mat-card-title>Google API Location</mat-card-title>
	<mat-card-content>
		<button (click)="getLocation()">Click here to get location</button>
		<button (click)="searchShelters()">Click here to get Shelter list</button>
	</mat-card-content>
</mat-card>